/* Sass file that assigns text colors to properties with different specificities. */
$text-color-green: #00FF00;
$text-color-red: #FF0000;
button {
    color: $text-color-red;
    &:hover {
        color: $text-color-green;
    }
}
