:root {
  --font-family: 'Source Sans Pro', sans-serif;
  --font-weight: bold;
  --font-weight-bolder: bolder;
  --font-size-large: 50px;
  --font-size-medium: 32px;
  --font-size-small: 20px;
  --font-size-x-small: 14px;
  --letter-spacing: 0px;
  --color-white: white;
  --color-red: #FF6565;
}

body {
  box-sizing: border-box;
  margin: 0;
}

/* HEADER */
header {
  background: url('images_2/headphones_hero_1.jpg') no-repeat center center; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100vh;
  min-height: 70rem;
}

.header-container {
  display: block;
}

.header-top {
  position: relative;
  display: flex;
  /* min-height: 45vh; */
  /* justify-content: space-between; */
  margin-bottom: 40vh;
  padding-top: 2rem;
  padding-left: 5%;
  padding-right: 5%;
}

.header-content {
  display: block;
  text-align: center;
  max-width: 60rem;
  margin: auto;
  color: var(--color-white);
  font-family: var(--font-family);
  letter-spacing: var(--letter-spacing);
}

/* NAV */
.dynamic-nav {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.menu-btn, .menu-open, .menu-open-button {
  display: none;
}

.navbar-menu {
  min-width: 17rem;
}

.nav {
  list-style: none;
  text-align: center;
  display: flex;
  justify-content: space-evenly;
  /* height: 12rem; */
}
  
.nav .nav-item {
  font-family: var(--font-family);
  font-size: var(--font-size-small);
  font-weight: var(--font-weight);
}

.nav-item {
  width: 8.5rem;
  padding-right: .6rem;
}

.nav-link:hover{
  color: var(--color-red);
}

.nav .nav-link {
  position: relative;
}

.nav-link {
  text-decoration: none;
  color: white;
}

@media only screen and (max-width: 480px) {

  header {
    height: 70rem;
  }
  .header-top {
    padding-left: 1%;
    /* margin-bottom: calc(60vh * 1/3); */
    margin-bottom: 20rem;
    /* height: 40vh; */
    /* height: 25rem; */
  }

  .header-logo {
    margin-left: 6vw;
  }

  .menu-open-button {
    display: flex;
    position: relative;
    width: 4.5rem;
    height: 4.5rem;
    flex-direction: column;
    justify-content: center;
    color: white;
    cursor: pointer;
    transition: transform .3s ease;
  }

  .dynamic-nav {
    flex-direction: column;
  }

  .nav {
    display: none;
    margin-left: 8rem;
    /* max-height: 10vh; */
    /* margin-top: 5rem; */
  }

  .menu-open-button:hover {
      transform-style: preserve-3d;
      backface-visibility: hidden;
      transition-duration: .3s;
  }

  .menu-line {
      display: block;
      background: white;
      width: 1.5rem;
      height: .15rem;
      margin: .15rem;
      transition: transform 0.3s ease;
  }

  .menu-line-2 {
    width: 1rem;
  }

  .menu-open:checked ~ .menu-open-button .menu-line-1 {
    position: relative;
    top: .2rem;
    transform: rotate(-45deg);
  }

  .menu-open:checked ~ .menu-open-button .menu-line-2 {
      display: none;
  }

  .menu-open:checked ~ .menu-open-button .menu-line-3 {
      position: relative;
      top: -.25rem;
      transform: rotate(45deg);
  }

  .nav-item {
      display: flex;
      width: 6.5rem;
      height: 3.5rem;
      margin: .4rem;
      justify-content: center;
      align-items: center;
  }

  .menu-open:checked ~ .dynamic-nav .navbar-menu .nav {
      display: block;
      position: absolute;
  }
}

/* HEADER-CONTENT */
.header-title {
  font-size: var(--font-size-large);
  font-weight: var(--font-weight-bolder);
}

.header-subtitle {
  font-size: var(--font-size-small);
  font-weight: var(--font-weight-bolder);
}

.btn-primary {
  color: var(--color-white);
  background-color: var(--color-red);
  font-weight: var(--font-weight-bolder);
  font-size: 14px;
  text-transform: uppercase;
  margin-top: 2rem;
  margin-bottom: 5rem;
  padding: 1rem;
  width: 12rem;
  border: 2px solid var(--color-red);
  border-radius: 5rem;
  box-shadow: 0 0 20px #0000006b;
}
.btn-primary:hover, .btn-primary:active {
  opacity: 0.9;
}

@media only screen and (max-width: 480px) {
  .header-content {
    width: 20rem;
    /* margin-top: 25vh; */
  }
}

/* what-we-do */

.what-we-do {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 40rem;
  font-family: var(--font-family);
}

.section-title {
  font-size: var(--font-size-medium);
}

.paragraph-text {
  max-width: 40rem;
}

[class^="holberton_school-icon-"],
[class*="holberton_school-icon-"] {
  font-family: 'holberton_school-icon' !important;
  font-size: 6rem;
}

.icon-title {
  font-weight: bolder;
}

.icon-text {
  max-width: 12rem;
  font-size: var(--font-size-x-small);
}

.icon-content {
  display: flex;
  list-style: none;
  flex-direction: row;
  justify-content: space-evenly;
}

.holberton_school-icon-ic_sound::before {
  content: "\e90e";
  color: var(--color-red);
}

.holberton_school-icon-ic_video::before {
  content: "\e910";
  color: var(--color-red);
}

.holberton_school-icon-ic_music::before {
  content: "\e90d";
  color: var(--color-red);
}

.holberton_school-icon-ic_hearing::before {
  content: "\e909";
  color: var(--color-red);
}
